<form action="/task/add" method="POST">
  <div>
    <label for="title">Write the title:</label>
    <input type="text" name="title" placeholder="Title" id="title" />
  </div>
  <div>
    <label for="description">Write the description:</label>
    <textarea
      name="description"
      rows="5"
      cols="50"
      placeholder="Description"
      id="description"
    ></textarea>
  </div>

  <div>
    <button id="addTask">Add Task</button>
  </div>
</form>