<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-md-7">
      <div class="card card-body p-4 bg-dark text-white text-center">
        <h1 class="card-title">About</h1>
        <p>This is a project made by Ikipm. It was made using JavaScript, using Express framework and handlebars. To store data, it uses a MongoDB database.</p>
      </div>
    </div>
  </div>
</div>