<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-md-7">
      {{#if showAlert}}
        <div class="alert alert-warning d-flex align-items-center alert-dismissible" role="alert">
          <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
          <div>
            Duplicated title! Try again.
          </div>
          <a class="btn-close" data-dismiss="alert"></a>
        </div>
      {{/if}}
      <div class="card card-body p-4 bg-dark text-white">
        <h3 class="card-title">Edit a task</h3>
        <form action="/task/edit/{{task._id}}" method="POST">
          <div>
            <label for="title">Write the title:</label>
            <input
              type="text"
              name="title"
              placeholder="Title"
              id="title"
              value="{{task.title}}"
              class="form-control bg-dark text-white"
              required
            />
          </div>
          <div>
            <label for="description" class="mt-2">Write the description:</label>
            <textarea
              name="description"
              rows="5"
              cols="50"
              placeholder="Description"
              id="description"
              class="form-control bg-dark text-white"
              required
            >{{task.description}}</textarea>
          </div>

          <a href="/share/{{task._id}}" class="mt-2 btn btn-outline-secondary">Share task</a>

          <div>
            <button id="addTask" class="btn btn-primary mt-2">Update Task</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>