<div class="container">
  <div class="d-flex justify-content-center">
    <a href="logout" class="btn btn-secondary btn-lg mb-4">Hello {{user}}</a>
  </div>
  <div class="row">
    <div class="col-md-5">
      {{> tasks/taskForm}}
    </div>
    <div class="col-md-7">
      {{> tasks/taskTable}}
    </div>
  </div>
</div>