<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Express mongodb crud</title>
  </head>
  <body>
    <h1>The express mongodb crud</h1>
    
    {{> navdir }} <!-- navdir is a partial, so it's importing it -->

    {{{ body }}} <!-- getting the body from the layout -->
  </body>
</html>